body {
  margin: 0;
  height: 100vh;
  background-image: url(./assets/home.png);
  background-size: cover;
}

.main {
  display: flex;
flex-direction: column;
  
}

.ancients-container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.ancient-card {
  width: 262px;
  height: 340px;
  background-size: cover;
  cursor: pointer;
}

.active-picture {
  border: rgba(180, 19, 19, 0.7) solid 3px;
}

.card-one {
  background-image: url(./assets/Ancients/Azathoth.png);
}

.card-two {
  /* display: none; */
  background-image: url(./assets/Ancients/Cthulthu.png);
}

.card-three {
  /* display: none; */
  background-image: url(./assets/Ancients/IogSothoth.png);
}

.card-for {
  /* display: none; */
  background-image: url(./assets/Ancients/ShubNiggurath.png);
}

.level-container {
  padding-top: 100px;
  color: rgba(238, 238, 246, 0.7);
  font-size: 20px;
}

.level {
  margin-bottom: 10px;
  padding: 15px 30px;
  border: rgba(18, 18, 106, 0.7) solid 3px;
  cursor: pointer;
}

.level-active {
  border: rgba(180, 19, 19, 0.7) solid 3px;
}



.deck-button {
display: none;
margin-top: 100px;
padding: 15px 30px;
border: rgba(18, 18, 106, 0.7) solid 3px;
color: rgba(238, 238, 246, 0.7);
font-size: 20px;
cursor: pointer;
}

.deck-button--visible {
  display: block;
}

.deck-button--active {
  border: rgba(180, 19, 19, 0.7) solid 3px;
}

.deck-mix {
  display: flex;
  justify-content: space-around;
}

.deck {
  display: none;
  margin-top: 100px;
  width: 230px;
  height: 298px;
  background-image: url(./assets/mythicCardBackground.png);
  background-size: cover;
}

.deck-visible {
  display: block;
}

.deck-open {
  display: none;
  margin-top: 100px;
  width: 230px;
  height: 298px;
  background-image: url(./assets/MythicCards/blue/blue1.png);
  background-size: cover;
}

.deck-open--visible {
  display: block;
}

